{% extends "gui/layout.html" %}
{% block content %}
<br>
    <div class="container-fluid">
    <div class="row p-0">
        <div class="col-sm-12">
            <h1 class="text-center">Your Products</h1>
            <br>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-block" href="">Your Products</a>
                <table class="table tabel-sm">
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    
                        {% for i in products %}
                            <tr>
                                <td><img width="80px" height="80px" src="{{i.image.url}}"></td>
                                <td>{{i.title}}</td>
                                <td>{{i.category}}</td>
                                <td>{{i.price}}</td>
                                <td>{{i.quantity}}</td>
                                <td><a href="{% url 'updateproduct' i.id %}"><button class="btn btn-sm btn-info">Update</button></a></td>
                                <td><a href="{% url 'deleteproduct' i.id %}"><button class="btn btn-sm btn-danger">Delete</button></a></td>
                            </tr>
                        {%endfor%}
                    
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock  %}